body{
   background-color: initial;
}

#MartinaB{
   background-color:aquamarine;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:blueviolet;
   
}

#JanaC{
   background-color:blueviolet;
   font-family:Arial, Helvetica, sans-serif;
   color:beige;
   
}

#KatkaK{
   background-color:blue;
   font-family: initial;
   color:initial;
   
}

#DitaP{
   background-color:beige;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:brown;
   
}

#AlzbetaR{
   background-color:aquamarine;
   font-family: initial;
   color:black;
   
}