body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ebecd0;
    line-height: 1.0;
    
  }
  p {
    color: #4b3402;
    font-size: larger;
  }
h1 {
    color: #4b3402;
  }