body{
    background-color:lightgoldenrodyellow;
 }

 h1{
    font-family:'Franklin Gothic Medium';
    color:black;
    
 }

 h2{
    font-family:'Franklin Gothic Medium';
    color:blueviolet;
    
 }
       